{% extends "base.html" %}

{% block title %}{{ "This Land Is Your Land" }}{% endblock %}

{% block content %}

<!--
TODO 
  * Fix trips section to show separate cards for each trip instead of one single row
  * Fix link on cards that only go to ski trip page
-->
{% set photo_list = [
  "perf-skip_bad.jpg",
  "perf-stage1.jpg",
  "hearsals-notes2.jpg",
  "hearsals-gang.jpg",
  "perf-album.JPG",
  "perf-stage2.jpg",
  "hearsals-notes1.jpg",
  "aud-twister.jpeg",
  "hearsals-seattle.jpg",
  "perf-wardrobe_after.jpeg",
  "do_this-dogs.jpeg",
  "aud-headshot.jpeg",
  "aud-laura.JPEG",
  "aud-insta_message.jpeg",
  "perf-rifle.jpg",
  "perf-skip_good.jpg",
  "aud-accordion.jpeg",
  "hearsals-spreadsheets.jpeg",
  "hearsals-cat.jpeg",
  "perf-pistol.jpg",
  "perf-wardrobe_before.jpeg",
  "perf-nasher_roof.jpeg",
  "perf-shirley1.jpg",
  "hearsals-alyce.jpg",
  "perf-dress1.jpg",
  "perf-nekked_eggplant.jpg",
  "perf-shirley2.jpg",
  "hearsals-linda.jpg",
  "hearsals-lunch.jpg",
  "perf-maxi.jpg",
  "hearsals-andy_cup.jpeg",
  "hearsals-big_daddy.JPG",
  "perf-dress2.jpg",
  "hearsals-headshot.png",
  "perf-cowboy.jpg",
  "perf-shirley3.jpg",
  "perf-cowboy_solo.jpg",
]|shuffle
%}

<style>
  body{background-color:rgb(230, 230, 230)}
</style>

<!-- CAROUSEL -->

    <div id="myCarousel" class="carousel carousel-dark carousel-traveler slide mb-4" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner" style="text-align:center;">
        {% for photo in photo_list %}
          {% if photo == photo_list[0] %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
              <img src="/theme/images/entroper/2023_06-this_land/{{ photo }}">
            </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>

<!-- TRIPS -->
<div class="container">
  <div class="row mb-2">
  {% for article in articles|reverse %}
    {% if article.activity == 'This Land Is Your Land' %}
    <div class="col-lg-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
          <p class="card-header-traveler mb-0 f-blue-grey">{{ article.title }}</p>
          <p class="card-text card-text-traveler fst-italic mb-2">{{ article.date.strftime('%B %-d, %Y') }}</p>
          <p class="card-text card-text-traveler">{{ article.short_sum }}</p>
          <a href=/{{ article.slug }}.html class="stretched-link"></a>
        </div>
        <div class="col-auto d-sm-none">
          <img class="bd-placeholder-img" width="120" height="100%" src="/theme/images/entroper/2023_06-this_land/{{ article.photo }}" alt="This Land" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <div class="col-auto d-none d-sm-block d-md-none">
          <img class="bd-placeholder-img" width="150" height="100%" src="/theme/images/entroper/2023_06-this_land/{{ article.photo }}" alt="This Land" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <div class="col-auto d-none d-md-block">
          <img class="bd-placeholder-img" width="200" height="250" src="/theme/images/entroper/2023_06-this_land/{{ article.photo }}" alt="This Land" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

{% endblock %}