{% extends "base.html" %}

{% block title %}{{ ENTROPERSITENAME }}{% endblock %}

{% block content %}

<!-- FEASTS -->
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-auto mx-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Concerts</strong>
          <h3 class="mb-0">AJ Croce</h3>
          <div class="text-muted">21-April 2023</div>
          <div class="mb-3 text-muted">Cary, NC</div>
          <p class="card-text mb-0">A magical night to remember</p>
          <a href="entroper/2023_04-croce.html" class="stretched-link">Let's boogie!</a>
        </div>
        <div class="col-auto d-none d-md-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/entroper/2023_04-croce/croce_plays_croce.jpeg" alt="Croce Plays Croce" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}