.fs-125 {
    font-size: 125%;
}
.fs-150 {
    font-size: 150%;
}
.f-blue-grey {
    color: #356895 !important;
}
.figure-caption {
    color: #356895 !important;
    font-style: italic !important;
}
.image-vert {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}
.btn-rounded {
    border-radius: 2rem !important;
}
.article-subheader {
    color: #6680CC !important;
    font-style: italic !important;
}