.fs-125 {
    font-size: 125%;
}
.fs-150 {
    font-size: 150%;
}
.f-blue-grey {
    color: #356895 !important;
}
.figure-caption {
    color: #356895 !important;
    font-style: italic !important;
}
.image-vert {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}
.btn-rounded {
    border-radius: 2rem !important;
}
.trip-subheader {
    color: #4B739A !important;
    font-size: calc(1.1rem + 0.1vw) !important;
    font-variant: small-caps !important;
    font-style: italic !important;
}
.article-subheader {
    color: #4B739A !important;
    font-size: calc(1.2rem + 0.3vw) !important;
    font-variant: small-caps !important;
    font-style: italic !important;
    margin-bottom: 0.5rem !important;
}
.video-div {
    height: calc(200px + 14vw) !important;
}
.comment-box {
    padding: 10px 10px 50px;
    line-height: 150%;
}