{% extends "base.html" %}

{% block title %}{{ TRAVELERSITENAME }}{% endblock %}

{% block content %}

<!--
TODO 
  * Fix trips section to show separate cards for each trip instead of one single row
  * Fix link on cards that only go to ski trip page
-->
{% set photo_list = [
"/theme/images/traveler/2021_04-ski_trip/falls_bottom.jpg",
"/theme/images/traveler/2021_04-ski_trip/boat.jpg",
"/theme/images/traveler/2021_04-ski_trip/marina.jpg",
"/theme/images/traveler/2021_04-ski_trip/mt_hood.jpg",
"/theme/images/traveler/2021_04-ski_trip/alpine_lakeview_pano.jpg",
"/theme/images/traveler/2021_04-ski_trip/falls_with_jo.jpg",
"/theme/images/traveler/2021_04-ski_trip/bachelor_front_bowl.jpg",
"/theme/images/traveler/2021_04-ski_trip/timberline_outside.jpg",
"/theme/images/traveler/2021_04-ski_trip/emigrant_pano.jpg",
"/theme/images/traveler/2021_04-ski_trip/crater_lake.jpg",
"/theme/images/traveler/2021_04-ski_trip/kt22_backside.jpg",
"/theme/images/traveler/2021_04-ski_trip/pike_place.jpg",
"/theme/images/traveler/2021_09-costa_rica/arenal_hike_mtn.jpg",
"/theme/images/traveler/2021_09-costa_rica/rafting3.JPG",
"/theme/images/traveler/2021_09-costa_rica/arenal_lake.jpeg",
"/theme/images/traveler/2021_09-costa_rica/chato_hike3.jpg",
"/theme/images/traveler/2021_09-costa_rica/spokane_house3.JPEG",
"/theme/images/traveler/2021_09-costa_rica/rafting4.JPG",
"/theme/images/traveler/2021_09-costa_rica/bungee1.JPG",
"/theme/images/traveler/2021_09-costa_rica/arenal_hot_springs3.jpg",
"/theme/images/traveler/2021_09-costa_rica/castle_view.JPEG",
"/theme/images/traveler/2021_09-costa_rica/olas_jungle.jpeg",
"/theme/images/traveler/2021_09-costa_rica/arenal_hike_lake.jpg",
"/theme/images/traveler/2022_01-ski_trip/cow_tetons.JPEG",
"/theme/images/traveler/2022_01-ski_trip/can_whistler_day1_summit.JPEG",
"/theme/images/traveler/2022_01-ski_trip/rock2_copper.jpeg",
"/theme/images/traveler/2022_01-ski_trip/can_seton_waterfront.jpeg",
"/theme/images/traveler/2022_01-ski_trip/can_p2p_2.JPEG",
"/theme/images/traveler/2022_01-ski_trip/rock1_lone_peak1.JPG",
"/theme/images/traveler/2022_01-ski_trip/bend_mountain_beers.JPEG",
"/theme/images/traveler/2022_01-ski_trip/tahoe_high_camp_2022.JPEG",
"/theme/images/traveler/2022_01-ski_trip/rock1_spokane.jpeg",
"/theme/images/traveler/2022_01-ski_trip/utah_alta_alfs.png",
"/theme/images/traveler/2022_01-ski_trip/mammoth_1.JPG",
"/theme/images/traveler/2022_01-ski_trip/rock1_montucky.jpeg",
"/theme/images/traveler/2022_01-ski_trip/can_whistler_day2_glacier.jpeg",
"/theme/images/traveler/2022_01-ski_trip/sf_tank_winery.jpeg",
"/theme/images/traveler/2022_01-ski_trip/mammoth_tub_car.JPG",
"/theme/images/traveler/2022_01-ski_trip/mammoth_tub_guys.JPG",
"/theme/images/traveler/2022_01-ski_trip/sf_painted_ladies.jpeg",
"/theme/images/traveler/2022_01-ski_trip/rock1_shoshone_canyon.jpeg",
"/theme/images/traveler/2022_01-ski_trip/rock1_ps_bowl.JPG",
"/theme/images/traveler/2022_01-ski_trip/sf_weed.jpeg",
"/theme/images/traveler/2022_01-ski_trip/red_gold_beach_sunset.jpeg",
]|shuffle
%}

<!-- CAROUSEL -->
<div id="myCarousel" class="carousel carousel-dark carousel-traveler slide pt-0 mb-4" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
  {% for photo in photo_list %}
    {% if photo == photo_list[0] %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <img src="{{ photo }}">
    </div>
  {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>

<!-- TRIPS -->
<div class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
          <strong class="d-inline-block mb-2 text-success">Gallivanting</strong>
          <p class="card-header-traveler mb-0 f-blue-grey">Norway June 2024</p>
          <p class="card-text card-text-traveler mb-0">NYC - S&aelig;tre - Bergen</p>
          <p class="card-text card-text-traveler">Voss - Fl&aring;m - Oslo</p>
          <a href="/traveler/2024-06_norway.html" class="stretched-link">Run it back</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/traveler/2023_05-scandinavia/17_flag-tall.JPEG" alt="Ski Trip" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
          <strong class="d-inline-block mb-2 text-success">Gallivanting</strong>
          <p class="card-header-traveler mb-0 f-blue-grey">Scandinavia May 2023</p>
          <p class="card-text card-text-traveler mb-0">S&aelig;tre - Oslo - Gaustatoppen</p>
          <p class="card-text card-text-traveler">Constitution Day - Copenhagen - Tivoli Gardens</p>
          <a href="/traveler/2023_05-scandinavia.html" class="stretched-link">Let 'er rip!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/traveler/2023_05-scandinavia/17_flag-tall.JPEG" alt="Ski Trip" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
          <strong class="d-inline-block mb-2 text-primary">Skiing</strong>
          <p class="card-header-traveler mb-0 f-blue-grey">Winter 2022 Ski Tripalooza</p>
          <p class="card-text card-text-traveler mb-0">Sierras - PNW - Canadian Rockies</p>
          <p class="card-text card-text-traveler">Tetons - Wasatch Range - Southern Rockies</p>
          <a href="/traveler/2022_01-ski_trip.html" class="stretched-link">Let 'er rip!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/traveler/2022_01-ski_trip/mammoth_2.JPG" alt="Ski Trip" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Gallivanting</strong>
          <p class="card-header-traveler mb-0 f-blue-grey">Costa Rica September 2021</p>
          <p class="card-text card-text-traveler mb-0">San Jos&#233 - Puerto Viejo - Tortuguero</p>
          <p class="card-text card-text-traveler">La Fortuna - Monteverde - Tamarindo</p>
          <a href="/traveler/2021_09-costa_rica.html" class="stretched-link">&#161;V&aacute;monos!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/traveler/2021_09-costa_rica/monkey_chillin.JPEG" alt="Ski Trip" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Skiing</strong>
          <p class="card-header-traveler mb-0 f-blue-grey">April 2021 West Coast Ski Adventure</p>
          <p class="card-text card-text-traveler mb-0">Reno - Lake Tahoe - Portland - Mt Bachelor</p>
          <p class="card-text card-text-traveler">Bend - Mt Hood - Seattle - Mt Baker</p>
          <a href="/traveler/2021_04-ski_trip.html" class="stretched-link">Send It!</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img"  width="200" height="250" src="/theme/images/traveler/2021_04-ski_trip/hangin_at_high_camp.jpg" alt="Ski Trip" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}